@{
    ViewBag.Title = @Resources.Resource.Contact;
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title:</h2>
    <h3>@ViewBag.Message</h3>
    <br/>
    <div><strong>Václav Kolarčík</strong></div>
    <div><strong>vakol</strong></div>
    <address>
        <strong>@Resources.Resource.ContactEmail:</strong> <a href="mailto:postmaster@healthyfoods.online">postmaster@healthyfoods.online</a><br />
    </address>
</main>