@{
    ViewBag.Title = "Time Units";
}

<main aria-labelledby="title">
    <h2>Time Units</h2>
    <p>This is the Time Units page.</p>
    <p>Here you can find information about different time units and their conversions.</p>
    <ul>
        @foreach (var unit in Model)
        {
            <li>@unit.Name (ID: @unit.Id)</li>
        }
    </ul>
</main>